.img {
    width: 33vh;
    height: 38vh;
}


.product-card {
    max-width: 400px;
    margin: 0 auto;
}
  
.product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.grid-container {
    display: flex;
    justify-content: center;
}