.img {
    width: 33vh;
    height: 38vh;
}


.cusomter-card {
    max-width: 50%;
    margin: 0 auto;
}

.customer-card img {
    width: 100%;
    height: auto;
  }
  
//resize card for mobile
@media (max-width: 767px) {
    .img {
      width: 100%;
      height: auto;
    }
  }
  
.customer-header-image {
    background-image: url('../../../assets/img/sputto_bird.png');
    background-size: cover;
}

.grid-container {
    display: flex;
    justify-content: center;
}