<!-- <h1>User Value proposition list</h1>
<p> Made in the United States - Imported to Guyana  - Local shipment</p>
<p> Clean the Exterior of your car - Stand out from the rest</p>
<p> Get more customers - Increase your customer pipeline by 200%</p>
<p> Care for your car - monthly washing and treatment will help care for your exterior of your car</p>


https://images.squarespace-cdn.com/content/v1/530e200fe4b0b61d9080008c/1395419667937-T8W7CCMNZQJFYJVQY3IJ/image-asset.jpeg -->

<div class="grid-container l-app-section">
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <img src="../../../assets/img/prestige-gloss-info.jpeg">
        </div>
      <!-- <div class="cell small-6">
        <div class="card">
          <div class="card-section">
            <h4>Card 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod libero sit amet velit dapibus, id vestibulum urna bibendum.</p>
          </div>
        </div>
      </div>
      <div class="cell small-6">
        <div class="card">
          <div class="card-section">
            <h4>Card 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod libero sit amet velit dapibus, id vestibulum urna bibendum.</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  