.example-spacer {
    flex: 1 1 auto;
  }

.nav {
    background-color: aquamarine;
    text-align: center;
}
.title {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-left: 40px;
}
.home {
    background-color: cadetblue;
} 

.bg-success {
    background-color: greenyellow;
}

.bg-danger {
    background-color: red;
}
