
<!-- <div class="grid-container l-app-section"> -->
    <!-- <div class="grid-x grid-margin-x grid-padding-x grid-padding-y"> -->
        <div class="cell">
            <div style="margin: 0; padding: 0;">
                <ng-image-slider #nav
                [images]="imageObject"
                [infinite]="false"
                [autoSlide]="1"
                [imageSize]="{width: '25%', height: 200}"
                slideImage="1"></ng-image-slider>
            </div>
        </div>        
    <!-- </div> -->
<!-- </div> -->