
<app-uvp></app-uvp>
<hr>
<div class="grid-container l-app-section">
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
        <div class="cell">
            <mat-card class="product-card">
                <mat-card-header>
                  <div mat-card-avatar class="product-header-image"></div>
                  <mat-card-title>Prestige Gloss</mat-card-title>
                  <mat-card-subtitle> 12 oz</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    product description: An all in one solution to bring your vehicle to new again
                  </p>
                </mat-card-content>
                <mat-card-actions>  
                  <!-- <button mat-button>LIKE</button> -->
                  <button mat-button>SHARE to Facebook - $1 off discount</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
  </div>