.img {
    width: 33vh;
    height: 38vh;
}


.product-card {
    max-width: 400px;
    margin: 0 auto;
}
  
// .product-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
// }


.mat-card-actions {
    justify-content: flex-end;
  }
  
.grid-container {
    display: flex;
    justify-content: center;
}

.checkout-btn {
    display: flex;
    justify-content: center;
  }
  
  button.mat-raised-button {
    font-size: 1.2em;
    width: 200px;
    height: 50px;
  }