
<app-uvp></app-uvp>
<hr>
<div class="grid-container l-app-section">
    <div class="grid-x grid-margin-x grid-padding-x grid-padding-y">
        <div class="cell">
            <mat-card class="product-card">
                <mat-card-header>
                  <div mat-card-avatar class="product-header-image"></div>
                  <mat-card-title>Prestige Gloss</mat-card-title>
                  <mat-card-subtitle> 12 oz</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/productimage.jpeg" alt="Photo of a the prestine gloss product">
                <mat-card-content>
                  <p>
                    ~ An all in one solution to bring your vehicle to new again.
                  </p>
                </mat-card-content>
                <mat-card-actions>  
                  <button mat-stroked-button color="primary"> SHARE to Facebook - $1 off discount</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="cell medium-auto checkout-btn">
            <div class="cell">
              <button mat-raised-button color="primary" (click)="openCheckoutDialog()">Buy Now</button>
            </div>
          </div>
    </div>
  </div>